@use "./variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $lg) {
    .icon-button {
      display: none;
    }
  }
}

.logo-wrapper {
  display: flex;
  width: 45px;

  @media (min-width: $lg) {
    width: 75px;
  }
}
