@use "./reset";
@use "./variables" as *;
@use "./fonts";
@use "./sidebar";
@use "./header";
@use "./icon-button";
@use "./menu";

body {
  font-family: "Inter", sans-serif;
}

p {
  font-size: 15px;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding: 15px;
}
